.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: linear-gradient(15deg, #006E90 0%, #4DA6C1 100%);
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 29px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 29px;
  color: white;
}

.proj-text {
    color: #4DA6C1;
    font-family:"Montserrat",sans-serif;
    margin-bottom: -3px;
}

.proj-header {
    margin-bottom: -20px;
}

.proj-p {
    font-family: 'Lora', serif;
}

.proj-hr {
    border-top: 1.5px solid #006E90;
}

#projs > .contact_me{
    display:inline-block;
    vertical-align:top;
    width:160px;
    height:50px;
    background:#4DA6C1; /* Contact Me Button Background Color */
    border:2px solid #006E90;
    transition:0.3s ease;
  }
  #projs > .contact_me > a{
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
  }
  #projs > .contact_me > a > span{
    display:block;
    padding:10px 0px;
    font-family:"Montserrat",sans-serif;
    font-size:18px; /* Contact Me Button font size*/
      font-weight:500;
      letter-spacing:2px;
    text-align:center;
    text-transform:uppercase;
    color:rgba(1,1,1,1); /* Contact Me Button font-color */
  }
  #projs > .contact_me:hover{
    background:transparent;
  }
  #projs > .about_container > .about_me > .contact_me:hover > a > span{
    color:rgba(255,255,255,1);
  }

#projs {
    margin-top: 30px;
}