@charset "utf-8";
/* CSS Document */

/* Kimmy Bird | Software Developer */

/* Kimmy Bird | Software Developer */
/* Stylesheet codes included for pages */
/* index_solid.html */
/* index_image.html */
/* index_video.html */
/* All codes rights reserved by Kimmy Bird | Software Developer */ 


/************************************************************************************** Body *************************************************************************************/

body{
  margin:0px;
  padding:0px;
}

/************************************************************************************** Body *************************************************************************************/



/************************************************************************************* Loader ************************************************************************************/

#loader{
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  overflow:hidden;
  background:rgba(250,250,250,1);
}
#loader > .loading{
  position:relative;
  width:36px;
  height:36px;
  top:48%;
  left:50%;
  transform:translate(-48%,-50%);
  border-radius:50%;
  border:8px solid #4DA6C1;
}
#loader > .loading:before{
  content:"";
  position:absolute;
  width:36px;
  height:36px;
  top:-8px;
  left:-8px;
  border-radius:50%;
  border:8px solid rgba(1,1,1,0.9);
  border-top:8px solid transparent;
  border-bottom:8px solid transparent;
  border-left:8px solid transparent; 
  animation:rotate 0.8s linear infinite; 
}
@keyframes rotate{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

/************************************************************************************* Loader ************************************************************************************/



/************************************************************************************* Header ************************************************************************************/

#header{
  width:100%;
  height:80px;
  position: fixed;
  left:0px;
  top:-100px;
  z-index:9;
  overflow:hidden;
  transition:0.5s ease;
  background:rgba(255,255,255,1);
  box-shadow:0px 1px 5px 1px rgba(16,16,16,0.05);
}
/* Header wrapper to align logo and menu */
#header > .wrapper{
  width:90%;
  height:100%;
  margin:auto;
}
#header > .wrapper > .logo{
  float:left;
  width:20%; /* Logo width */
  height:auto;
  margin-top:10px;
  overflow:hidden; 
}
#header > .wrapper > .logo > a{
  text-decoration:none;
}

#header > .wrapper > .logo > h1 {
    margin:10px 0px 12px 0px;
    font-size:20px; /* Portfolio Title Heading Font size */
    font-weight:500;
    color:#4DA6C1; /* font-color */
    letter-spacing:2px;
    text-transform:lowercase;
}

#header > .wrapper > .logo > a > img{
  width:100%;
  min-height:100%;
}
#header > .wrapper > .menu{
  float:right;
  overflow:hidden;
}
#header > .wrapper > .menu > ul{
  padding:36px 0px;
  margin:0px;
}
#header > .wrapper > .menu > ul > li{
  display:inline-block;
  font-family:"Raleway",sans-serif;
  font-size:16px; /* Menu font-size */
  font-weight:900;
  padding:0px 18px;
}
#header > .wrapper > .menu > ul > li > a{
  text-decoration:none;
  color:rgba(32,32,32,0.5); /* Menu color */
}
#header > .wrapper > .menu > ul > li > a.active{
  color:rgba(1,1,1,1);
}
#header > .wrapper > .menu > ul > li:last-child{
  padding-right:0px;
}
#header > .wrapper > .menu > ul > li > a.buy_now{
  color:rgba(32,32,32,0.5);
}
#header > .wrapper > .menu > ul > li > a.buy_now:hover{
  color:rgba(1,1,1,1);
}

/************************************************************************************* Header ************************************************************************************/



/********************************************************************************* Mobile Menu ***********************************************************************************/

#mobile_menu{
  display:none;
  width:100%;
  height:auto;
  position:fixed;
  top:-100px;
  left:0;
  z-index:9;
  overflow:hidden;
  transition:0.5s ease;
  background:rgba(255,255,255,1);
}
#mobile_menu > .head_wrap{
  width:100%;
  height:80px;
  overflow:hidden;
}
#mobile_menu > .head_wrap > .mobile_header{
  width:90%;
  height:100%;
  margin:auto;
  overflow:hidden;
}
#mobile_menu > .head_wrap > .mobile_header > .logo{
  float:left;
  position:relative;
  top:8px;
  left:-6px;
  width:10%;
  overflow:hidden;
}
#mobile_menu > .head_wrap > .mobile_header > .logo > a{
  text-decoration:none;
}
#mobile_menu > .head_wrap > .mobile_header > .logo > a > img{
  margin-left: 10px;
  width:80%;
  min-height:100%;
}
#mobile_menu > .head_wrap > .mobile_header > .menu{ 
  float:right;
  position:relative;
  width:60px;
  height:100%;
  overflow:hidden;
}
#mobile_menu > .head_wrap > .mobile_header > .menu > span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:50%;
  margin:auto;
  border:1px solid rgba(32,32,32,1);
  border-radius:10px;
  transition:0.5s ease;
}
#mobile_menu > .head_wrap > .mobile_header > .menu > span:first-child{
  top:calc(50% - 10px);
}
#mobile_menu > .head_wrap > .mobile_header > .menu > span:last-child{
  top:calc(50% + 10px);
}
#mobile_menu > .head_wrap > .mobile_header > .menu > span.border_fade{
  top:50%;
}
#mobile_menu > .link_wrap{
  width:100%;
  height:0px;
  overflow:hidden;
  transition:0.5s ease;
  background:rgba(250,250,250,1);
}
#mobile_menu > .link_wrap.menu_fade{ /* Added class which increases menu height when clicked on burger menu */
  height:300px;
}
#mobile_menu > .link_wrap > .mobile_links{
  width:90%;
  margin:auto;
}
#mobile_menu > .link_wrap > .mobile_links > ul{
  padding:12px 0px;
  margin:0px;
}
#mobile_menu > .link_wrap > .mobile_links > ul > li{
  list-style-type:none;
  padding:12px 0px;
  font-family:"Raleway",sans-serif;
  color:rgba(32,32,32,1);
  font-size:16px;
  border-bottom:1px solid rgba(32,32,32,0.1);
}
#mobile_menu > .link_wrap > .mobile_links > ul > li:last-child{
  border-bottom:0px;
}
#mobile_menu > .link_wrap > .mobile_links > ul > li > a{
  text-decoration:none;
  color:rgba(32,32,32,1);
}

/********************************************************************************* Mobile Menu ***********************************************************************************/



/************************************************************************************** Hero *************************************************************************************/

#hero{
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
}
#hero > .intro_text{
  position:fixed;
  top:50%;
  left:50%;
  z-index:1;
  transform:translate(-50%,-50%);
}
#hero > .intro_text.hide_text{
  opacity:0;
  transition:0.3s ease;
}
#hero > .intro_text > h1{
  font-size:90px; /* Heading font-size on Hero section */
    font-weight:500;
	letter-spacing:-2px;
  text-align:center;
  margin:0px 0px 22px 0px;
  color:rgba(255,255,255,1); /* Font-color */
}
#hero > .intro_text > p{
  width:80%;
  font-family: 'Lora', serif;
  font-size:28px; /* Paragraph font-size on Hero section */
  line-height:42px;
  text-align:center;
  color:rgba(255,255,255,1); /* Font-color */
  margin:0px auto 48px auto;
}
#hero > .intro_text > h1 > span.highlight{
  color:#4DA6C1; /* Font-color for Highlighting important words in Heading */
}
#hero > .intro_text > p > span.highlight{
  color:#4DA6C1; /* Font-color for Highlighting important words in Paragraph */
}
#hero > .intro_text > div > div > div > .more_about_me{
  width:160px;
  height:50px;
  margin:auto;
  background:#4DA6C1; /* About me button's background color on Hero section */
  border:2px solid #4DA6C1; /* About me button's border color on Hero section */
  transition:0.3s ease;
}
#hero > .intro_text > div > div > div > .more_about_me:hover{
  background:transparent;
}
#hero > .intro_text > div > div > div > .more_about_me > a{
  display:block;
  width:100%;
  height:100%;
  text-decoration:none;
}
#hero > .intro_text > div > div > div > .more_about_me > a > span{
  display:block;
  padding:14px 0px;
  font-size:14px; /* Font size of about button */
	font-weight:500;
  text-align:center;
	letter-spacing:2px;
  text-transform:uppercase;
	color:rgba(1,1,1,1); /* Font color of about button */
  transition:0.3s ease;
}
#hero > .intro_text > div > div > div > .more_about_me:hover > a > span{
  color:rgba(255,255,255,1);
}

/* Background Solid - The hero section as background color rgba(1,1,1,1) */
#hero > .hero_background_solid{
  position:fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  z-index:-1;
  overflow:hidden;
  background:rgba(1,1,1,1); /* Solid background color */
}

/* Background Image - The hero section as background image */
#hero > .hero_background_image{
  position:fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  z-index:-1;
  overflow:hidden;
  background:rgba(1,1,1,1);
}
#hero > .hero_background_image > img{
  width:100%;
  min-height:100%;
  opacity:0.18;
}

/* Background Video - The hero section as background video */
#hero > .hero_background_video{
  position:fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  z-index:-1;
  overflow:hidden;
  background:rgba(1,1,1,1);
}
#hero > .hero_background_video > video{
  width:100%;
  min-height:100%;
  opacity:0.18;
}
/************************************************************************************ Hero ***************************************************************************************/



/********************************************************************************** Portfolio ************************************************************************************/

#portfolio{
  position:relative; /* Don't change the position of this element */
  z-index:5; /* Don't change the z-indexing of this element */
  width:100%;
  padding-top:50px;
  overflow:hidden;
  background:rgba(255,255,255,1);
}
#portfolio > .portfolio_title{
  width:90%;
  margin:0px auto 66px auto;
  overflow:hidden;
}
#portfolio > .portfolio_title > h1{
  margin:0px 0px 12px 0px;
  font-size:42px; /* Portfolio Title Heading Font size */
  font-weight:700;
  color:rgba(1,1,1,1); /* font-color */
	letter-spacing:2px;
	text-transform:lowercase;
}
#contact > .portfolio_title{
  width:90%;
  margin:0px auto 66px auto;
  overflow:hidden;
}
#contact > .portfolio_title > h1{
  margin:0px 0px 12px 0px;
  font-size:42px; /* Portfolio Title Heading Font size */
  font-weight:700;
  color:rgba(1,1,1,1); /* font-color */
	letter-spacing:2px;
	text-transform:lowercase;
}
#portfolio > .portfolio_title > p{
  width:65%;
  margin:0px 0px;
  font-size:16px; /* Portfolio Title Para Font size*/
	font-weight:500;
  line-height:28px;
  color:rgba(71,71,71,0.9); /* font-color */
}
#portfolio > .portfolio_container{
  width:90%;
  font-size:0px;
  margin:0px auto 90px auto;
	overflow:hidden;
}
#portfolio > .portfolio_container > .p1{
  display:inline-block;
  position:relative;
  vertical-align:top;
  overflow:hidden;
  width:32.5%; /* Width of 1st portfolio box */
  height:310px; /* Height of 1st portfolio box */
  cursor:pointer;
  margin-bottom:18px;
}
#portfolio > .portfolio_container > .p1 > .p1_overlay{
  opacity:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:0.6s ease;
  background:rgba(1,1,1,0.85); /* Background-color of Overlay */
}
#portfolio > .portfolio_container > .p1 > .p1_overlay > h3{
  opacity:0;
  font-size:24px; /* Font size of portfolio overlay */
	font-weight:500;
  text-align:center;
  color:rgba(255,255,255,1); /* Font-color */
  padding:60px 0px 0px 0px;
  transition:0.6s ease 0.5ms;
}
#portfolio > .portfolio_container > .p1:hover > .p1_overlay{
  opacity:1;
}
#portfolio > .portfolio_container > .p1:hover > .p1_overlay > h3{
  opacity:1;
  padding:118px 0;
}
#portfolio > .portfolio_container > .p1 > img{
  width:100%;
  min-height:100%;
}
#portfolio > .portfolio_container > .p2{
  display:inline-block;
  position:relative;
  vertical-align:top;
  overflow:hidden; 
  width:32.5%; /* Width of 2nd portfolio box */
  height:310px; /* Height of 2nd portfolio box */
  cursor:pointer;
  margin-left:1.25%;
  margin-bottom:18px;
}
#portfolio > .portfolio_container > .p2 > .p2_overlay{
  opacity:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:0.6s ease;
  background:rgba(1,1,1,0.85); /* Background-color of overlay */
}
#portfolio > .portfolio_container > .p2 > .p2_overlay > h3{
  opacity:0;
  font-size:24px; /* Font size of portfolio overlay */
	font-weight:500;
  text-align:center;
  color:rgba(255,255,255,1); /* Font-color */
  padding:60px 0px 0px 0px;
  transition:0.6s ease 0.5ms;
}
#portfolio > .portfolio_container > .p2:hover > .p2_overlay{
  opacity:1;
}
#portfolio > .portfolio_container > .p2:hover > .p2_overlay > h3{
  opacity:1;
  padding:118px 0;
}
#portfolio > .portfolio_container > .p2 > img{
  width:100%;
  min-height:100%;
}

#portfolio > .portfolio_container > .p3{
  display:inline-block;
  position:relative;
  vertical-align:top;
  overflow:hidden; 
  width:32.5%; /* Width of 3rd portfolio box */
  height:310px; /* Height of 3rd portfolio box*/
  cursor:pointer;
  margin-left:1.25%;
  margin-bottom:18px;
}
#portfolio > .portfolio_container > .p3 > .p3_overlay{
  opacity:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:0.6s ease;
  background:rgba(1,1,1,0.85); /* Background-color of overlay */
}
#portfolio > .portfolio_container > .p3 > .p3_overlay > h3{
  opacity:0;

  font-size:24px; /* Font size of portfolio overlay */
	font-weight:500;
	text-align:center;
  color:rgba(255,255,255,1); /* Font-color */
  padding:60px 0px 0px 0px;
  transition:0.6s ease 0.5ms;
}
#portfolio > .portfolio_container > .p3:hover > .p3_overlay{
  opacity:1;
}
#portfolio > .portfolio_container > .p3:hover > .p3_overlay > h3{
  opacity:1;
  padding:118px 0;
}
#portfolio > .portfolio_container > .p3 > img{
  width:100%;
  min-height:100%;
}

#portfolio > .portfolio_container > .p4{
  display:inline-block;
  position:relative;
  vertical-align:top;
  overflow:hidden;
  width:32.5%; /* Width of 4th portfolio box */
  height:310px; /* Height of 4th portfolio box */
  cursor:pointer;
  margin-bottom:18px;
}
#portfolio > .portfolio_container > .p4 > .p4_overlay{
  opacity:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:0.6s ease;
  background:rgba(1,1,1,0.85); /* Background-color of overlay */
}
#portfolio > .portfolio_container > .p4 > .p4_overlay > h3{
  opacity:0;

  font-size:24px; /* Font size of portfolio overlay */
	font-weight:500;
	text-align:center;
  color:rgba(255,255,255,1); /* Font-color */
  padding:60px 0px 0px 0px;
  transition:0.6s ease 0.5ms;
}
#portfolio > .portfolio_container > .p4:hover > .p4_overlay{
  opacity:1;
}
#portfolio > .portfolio_container > .p4:hover > .p4_overlay > h3{
  opacity:1;
  padding:118px 0;
}
#portfolio > .portfolio_container > .p4 > img{
  width:100%;
  min-height:100%;
}

#portfolio > .portfolio_container > .p5{
  display:inline-block;
  position:relative;
  vertical-align:top;
  overflow:hidden; 
  width:32.5%; /* Width of 5th portfolio box */
  height:310px; /* Height of 5th portfolio box */
  cursor:pointer;
  margin-left:1.25%;
  margin-bottom:18px;
}
#portfolio > .portfolio_container > .p5 > .p5_overlay{
  opacity:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:0.6s ease;
  background:rgba(1,1,1,0.85); /* Background-color of overlay */
}
#portfolio > .portfolio_container > .p5 > .p5_overlay > h3{
  opacity:0;

  font-size:24px; /* Font size of portfolio overlay */
	font-weight:500;
	text-align:center;
  color:rgba(255,255,255,1); /* Font-color */
  padding:60px 0px 0px 0px;
  transition:0.6s ease 0.5ms;
}
#portfolio > .portfolio_container > .p5:hover > .p5_overlay{
  opacity:1;
}
#portfolio > .portfolio_container > .p5:hover > .p5_overlay > h3{
  opacity:1;
  padding:118px 0;
}
#portfolio > .portfolio_container > .p5 > img{
  width:100%;
  min-height:100%;
}

#portfolio > .portfolio_container > .p6{
  display:inline-block;
  position:relative;
  vertical-align:top;
  overflow:hidden; 
  width:32.5%; /* Width of 6th portfolio box */
  height:310px; /* Height of 6th portfolio box */
  cursor:pointer;
  margin-left:1.25%;
  margin-bottom:18px;
}
#portfolio > .portfolio_container > .p6 > .p6_overlay{
  opacity:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:0.6s ease;
  background:rgba(1,1,1,0.85); /* Background-color of overlay */
}
#portfolio > .portfolio_container > .p6 > .p6_overlay > h3{
  opacity:0;

  font-size:24px; /* Font size of portfolio overlay */
	font-weight:500;
	text-align:center;
  color:rgba(255,255,255,1); /* Font-color */
  padding:60px 0px 0px 0px;
  transition:0.6s ease 0.5ms;
}
#portfolio > .portfolio_container > .p6:hover > .p6_overlay{
  opacity:1;
}
#portfolio > .portfolio_container > .p6:hover > .p6_overlay > h3{
  opacity:1;
  padding:118px 0;
}
#portfolio > .portfolio_container > .p6 > img{
  width:100%;
  min-height:100%;
}

#portfolio > .portfolio_container > .p7{
  display:inline-block;
  position:relative;
  vertical-align:top;
  overflow:hidden;
  width:32.5%; /* Width of 7th portfolio box */
  height:310px; /* Height of 7th portfolio box */
  cursor:pointer;
}
#portfolio > .portfolio_container > .p7 > .p7_overlay{
  opacity:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:0.6s ease;
  background:rgba(1,1,1,0.85); /* Background-color of overlay */
}
#portfolio > .portfolio_container > .p7 > .p7_overlay > h3{
  opacity:0;

  font-size:24px; /* Font size of portfolio overlay */
	font-weight:500;
  text-align:center;
  color:rgba(255,255,255,1); /* Font-color */
  padding:60px 0px 0px 0px;
  transition:0.6s ease 0.5ms;
}
#portfolio > .portfolio_container > .p7:hover > .p7_overlay{
  opacity:1;
}
#portfolio > .portfolio_container > .p7:hover > .p7_overlay > h3{
  opacity:1;
  padding:118px 0;
}
#portfolio > .portfolio_container > .p7 > img{
  width:100%;
  min-height:100%;
}
#portfolio > .portfolio_container > .p8{
  display:inline-block;
  position:relative;
  vertical-align:top;
  overflow:hidden; 
  width:32.5%; /* Width of 8th portfolio box */
  height:310px; /* Height of 8th portfolio box */
  cursor:pointer;
  margin-left:1.25%;
}
#portfolio > .portfolio_container > .p8 > .p8_overlay{
  opacity:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:0.6s ease;
  background:rgba(1,1,1,0.85); /* Background-color of overlay */
}
#portfolio > .portfolio_container > .p8 > .p8_overlay > h3{
  opacity:0;

  font-size:24px; /* Font size of portfolio overlay */
	font-weight:500;
	text-align:center;
  color:rgba(255,255,255,1); /* Font-color */
  padding:60px 0px 0px 0px;
  transition:0.6s ease 0.5ms;
}
#portfolio > .portfolio_container > .p8:hover > .p8_overlay{
  opacity:1;
}
#portfolio > .portfolio_container > .p8:hover > .p8_overlay > h3{
  opacity:1;
  padding:118px 0;
}
#portfolio > .portfolio_container > .p8 > img{
  width:100%;
  min-height:100%;
}

#portfolio > .portfolio_container > .p9{
  display:inline-block;
  position:relative;
  vertical-align:top;
  overflow:hidden; 
  width:32.5%; /* Width of 9th portfolio box */
  height:310px; /* Height of 9th portfolio box */
  cursor:pointer;
  margin-left:1.25%;
}
#portfolio > .portfolio_container > .p9 > .p9_overlay{
  opacity:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:0.6s ease;
  background:rgba(1,1,1,0.85); /* Background-color of overlay */
}
#portfolio > .portfolio_container > .p9 > .p9_overlay > h3{
  opacity:0;

  font-size:24px; /* Font size of portfolio overlay */
	font-weight:500;
	text-align:center;
  color:rgba(255,255,255,1); /* Font-color */
  padding:60px 0px 0px 0px;
  transition:0.6s ease 0.5ms;
}
#portfolio > .portfolio_container > .p9:hover > .p9_overlay{
  opacity:1;
}
#portfolio > .portfolio_container > .p9:hover > .p9_overlay > h3{
  opacity:1;
  padding:118px 0;
}
#portfolio > .portfolio_container > .p9 > img{
  width:100%;
  min-height:100%;
}
/* Portfolio Load More Button */
#portfolio > .portfolio_load_more{
  width:160px;
  height:50px;
  margin:auto;
  background:rgba(1,1,1,1); /* Background color */
  border:2px solid rgba(1,1,1,1);
  transition:0.3s ease;
}
#portfolio > .portfolio_load_more > a{
  display:block;
  width:100%;
  height:100%;
  text-decoration:none;
}
#portfolio > .portfolio_load_more > a > span{
  display:block;
  padding:17px 0px;

  font-size:14px; /* portfolio load more button font size */
  text-align:center;
  text-transform:uppercase;
	font-weight:500;
	letter-spacing:2px;
  color:rgba(255,255,255,1); /* font-color */
}
#portfolio > .portfolio_load_more:hover{
  background:transparent;
}
#portfolio > .portfolio_load_more:hover > a > span{
  color:rgba(1,1,1,1);
}
/********************************************************************************** Portfolio ************************************************************************************/


/*********************************************************************************** About ***************************************************************************************/

#about{
  padding: 50px;
  position:relative;
  z-index:5;
  width:100%;
  overflow:hidden;
  background:rgba(1,1,1,1); /* About Section Background-color */
}
#about > .about_container{
  width:50%;
  padding:132px 0px;
  overflow:hidden;
}
#about > .about_container > .about_me{
  width:80%;
  margin:auto;
}
.about_title {
  margin:0px 0px 18px 0px;

  font-size:42px; /* About Me section Heading font size*/
  font-weight:700;
	letter-spacing:2px;
	text-transform:lowercase;
  color:rgba(255,255,255,1); /* font-color */
}
.about_text {
  margin:0px 0px 18px 0px;

  font-size:24px; /* About Me section Sub-Heading font size*/
  font-weight:500;
	line-height:36px;
  color:rgba(154,154,154,1); /* font-color */
}
.about_paragraph{
  margin:0px 0px 36px 0px;

  font-size:18px; /* About Me section Para font size */
  font-weight:500;
  line-height:28px;
  color:rgba(154,154,154,1); /* font-color*/
}
.about_resume{
  display:inline-block;
  vertical-align:top;
  width:160px;
  height:50px;
	background:transparent;
  border:2px solid #006E90;  /* Resume Button Border Color*/
  transition:0.3s ease;
}
.about_resume > a{
  display:block;
  width:100%;
  height:100%;
  text-decoration:none;
}
.about_resume > a > span{
  display:block;
  padding:14px 0px;

  font-size:14px; /* Resume Button font-size */
	font-weight:500;
	letter-spacing:2px;
  text-align:center;
  text-transform:uppercase;
  color:rgba(255,255,255,1); /* Resume Button font-color */
 }
.about_resume:hover{
  background:#4DA6C1;
}
.about_resume:hover > a > span{
  color:rgba(1,1,1,1);
}
.about_contact_me{
  display:inline-block;
  vertical-align:top;
  width:160px;
  height:50px;
  margin-left:18px;
  background:#4DA6C1; /* Contact Me Button Background Color */
  border:2px solid #006E90;
  transition:0.3s ease;
}
.about_contact_me > a{
  display:block;
  width:100%;
  height:100%;
  text-decoration:none;
}
.about_contact_me > a > span{
  display:block;
  padding:14px 0px;

  font-size:14px; /* Contact Me Button font size*/
	font-weight:500;
	letter-spacing:2px;
  text-align:center;
  text-transform:uppercase;
  color:rgba(1,1,1,1); /* Contact Me Button font-color */
}
.about_contact_me:hover{
  background:transparent;
}
.about_contact_me:hover > a > span{
  color:rgba(255,255,255,1);
}
#about > .my_image{
  position:absolute;
  width:50%;
  height:100%;
  top:0;
  right:0;
  background:rgba(154,154,154,1);
  overflow:hidden;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#about > .my_image > img{
  width:100%;
  min-height:100%;
}

/*********************************************************************************** About ***************************************************************************************/



/*************************************************************************** Education and Experience ****************************************************************************/

#education{
  position:relative; /* Don't change the position of this element */
  z-index:5; /* Don't change the z-indexing of this element */
  width:100%;
  overflow:hidden;
  padding-top: 50px;
  background:rgba(255,255,255,1);
}
#education > .education_title{
  width:90%;
  margin:0px auto 66px auto;
  overflow:hidden;
}
#education > .education_title > h1{
  margin:0px 0px 12px 0px;
  width:40%;

  font-size:42px; /* Education and Experience section Heading font size */
  font-weight:700;
	line-height:46px;
	letter-spacing:2px;
	text-transform:lowercase;
  color:rgba(1,1,1,1); /* font-color */
}

#client > .client_title{
    width:90%;
    margin:0px auto 66px auto;
    overflow:hidden;
}

#client > .client_title > h1{
  margin:0px 0px 12px 0px;
  width:40%;

  font-size:42px; /* Education and Experience section Heading font size */
  font-weight:700;
	line-height:46px;
	letter-spacing:2px;
	text-transform:lowercase;
  color:rgba(1,1,1,1); /* font-color */
}

/*************************************************************************** Education and Experience ****************************************************************************/


/************************************************************************************ Clients ************************************************************************************/

#client{
  position:relative; /* Don't change position of this element */
  z-index:5; /* Don't change z-indexing of this element */
  width:100%;
  overflow:hidden;
  /* padding:90px 0px; */
  padding: 50px 0px;
  background:rgba(242,242,242,1);
}

/************************************************************************************* Clients ***********************************************************************************/



/************************************************************************************* Footer ************************************************************************************/

#footer{
  position:relative; /* Don't change position of this element */
  z-index:5; /* Don't change z-indexing of this element */
  width:100%;
  overflow:hidden;
  padding:54px 0px 48px 0px;
  background:black;
}
#footer > .footer_container{
  width:90%;
  margin:auto;
  overflow:hidden;
}
#footer > .footer_container > .copyright{
  float:left;
}
#footer > .footer_container > .copyright > span{
  display:block;

  font-size:14px; /* Font size for copyright section */
  color:rgba(135,135,135,0.8); /* font-color */
}
#footer > .footer_container > .copyright > span:nth-of-type(1){
  margin:0px 0px 12px 0px;
}
#footer > .footer_container > .social{
  float:right;
}
#footer > .footer_container > .social > ul{
  padding:18px 0px 0px 0px;
  margin:0px;
}
#footer > .footer_container > .social > ul > li{
  list-style-type:none;
  display:inline-block;
  padding:0px 12px;
}
#footer > .footer_container > .social > ul > li:last-child{
  padding-right:0px;
}
#footer > .footer_container > .social > ul > li > a{
  text-decoration:none;
}
#footer > .footer_container > .social > ul > li i{
  font-size:24px; /* Social Icon font-size */
  color:#4DA6C1; /* Social Icon color */
  transition:0.3s ease;
}
#footer > .footer_container > .social > ul > li i:hover{
  color:#006E90;
}

/************************************************************************************* Footer ************************************************************************************/



/****************************************************************************** Click to Scroll **********************************************************************************/

#scroll_top{
  display:none;
  position:fixed;
  bottom:18px;
  right:18px;
  z-index:6;
  padding:2px 8px;
  cursor:pointer;
  background:rgba(10,10,10,0.8);
}
#scroll_top > .fa-angle-up{
  color:rgba(235,235,235,0.8);
  font-size:24px;
  transition:0.3s ease;
}
#scroll_top:hover > .fa-angle-up{
  color:rgba(250,250,250,1);
}

/****************************************************************************** Click to Scroll **********************************************************************************/


.devicon {
    font-size: 8rem;
}

.sql-icon {
    width: 10rem;
    height: auto;
}

.elixir-icon {
    width: 5.5rem;
    height: auto;
}



.card-custom {
    overflow: hidden;
    min-height: 450px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
  
  .card-custom-img {
    height: 350px;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
  
  .card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    left: 1.25rem;
    width: 100px;
    height: 100px;
  }

  .company-logos {
      background-color: white;
      padding: .5%;
  }

  .jumbotron-header {
    background-image: linear-gradient(60deg, rgb(77, 166, 193) 20%, rgb(0, 98, 128) 100%);
    clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 4vw)
  );
}

#contact {
  background-color: white;
  color:#006E90;
}

#contact > a > .fa-5x {
  color:#006E90;
}

.project-bike-section {
  background-color: #eca400;
  color: white;
  padding: 50px 0px;
  margin-bottom: 0px;
}

.project-bike-section > .core-functionality {
  margin-left: 15%;
  font-size: 1.25rem;
}

.project-bike-section > ul {
    margin-left: 15%;
    margin-right: 15%;
}
.project-grow-section {
    background-color: #58D68D;
    color: white;
    padding: 50px 0px;
    margin-bottom: 0px;
}

.project-grow-section > .core-functionality {
  margin-left: 15%;
  font-size: 1.25rem;
}

.project-grow-section > ul {
  margin-left: 15%;
  margin-right: 15%;
}

.project-art-section {
  background-color: #233749;
  color: white;
  padding: 50px 0px;
  margin-bottom: 0px;
}

.project-art-section > .core-functionality {
    margin-left: 15%;
    font-size: 1.25rem;
  }

.project-art-section > ul {
  margin-left: 15%;
  margin-right: 15%;
}

.project-break-section {
  background-color: #C25B56;
  color: white;
  padding: 50px 0px;
  margin-bottom: 0px;
}

.project-break-section > .core-functionality {
    margin-left: 15%;
    font-size: 1.25rem;
  }

.project-break-section > ul {
  margin-left: 15%;
  margin-right: 15%;
}

.project-backpacker-section {
  background-color: #9E3C85;
  color: white;
  padding: 50px 0px;
  margin-bottom: 0px;
}

.project-backpacker-section > .core-functionality {
    margin-left: 15%;
    font-size: 1.25rem;
  }

.project-backpacker-section > ul {
  margin-left: 15%;
  margin-right: 15%;
}

.experience-container {
    padding: 0px 10%;
}

.experience-container > p {
  font-size: 18px;
}

ul {
  font-family: 'Lora', serif;
}

.nss-link {
  color: #006E90;
}

.nss-link:hover {
  color: rgb(1, 146, 190);
}

.bridge-accordion {
  background-color: rgb(77, 166, 193);
}

.project-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: white !important;
    width:160px;
    height:50px;
    border:2px solid white;
    transition:0.3s ease;
  }
  .project-button > a{
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
  }
  .project-button > a > span{
    display:block;
    padding:11px 0px;
    font-size:18px; /* Contact Me Button font size*/
    font-weight:500;
    letter-spacing:2px;
    text-align:center;
    text-transform:uppercase;
  }
  .project-button:hover{
    background:transparent !important;
  }
  .project-button:hover > a > span{
    color:rgba(255,255,255,1);
  }

  .project-bike-section >  div > a > span {
      color: #eca400;
  }
 
  .project-grow-section >  div > a > span {
      color: #58D68D;
  }
 
  .project-art-section >  div > a > span {
      color: #233749;
  }

  .project-break-section >  div > a > span {
      color: #C25B56;
  }

  .project-backpacker-section >  div > a > span {
      color: #9E3C85;
  }

.contact-icons {
  color: #006E90;
}

.contact-icons:hover {
  color: rgb(1, 146, 190);

}

.hero-contact-icons {
    color: #4DA6C1;
}

.hero-contact-icons:hover {
    color: #006E90;
}

.project-summary {
    margin: 0px 10px;
}

.project-paragraph {
    padding: 0px 10px;
}


#scroll-prompt {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 20px;
  }

  #scroll-prompt > i {
    padding-bottom: 5px;
  }

.art-btn {
    color: white;
    background-color: #233749;
    border-color: white;
}

.art-btn:hover {
    background-color: black;
    border-color: white;
}

.btn-projects {
    color: white;
}

.vl {
    border-left: 1px solid white;
  }

.btn-projects:hover {
    color: white;
}

.project-card {
    max-width: 60%;
    margin-left: 20%;
}